body {
  margin: auto;
  text-align: center;
  font-family: "Barlow", sans-serif;
}

#hero {
  background-image: url("./../images/sunnyside-landing/desktop/image-header.jpg");
  color: #fff;
  height: 105vh;
  background-size: cover;
  background-position: center;
}
#hero #mobile-menu {
  display: none;
}
#hero #hero-heading-container {
  margin-top: 150px;
  overflow: hidden;
}
#hero #hero-heading-container #hero-heading {
  animation: drop-down 0.5s 0.35s forwards;
  font-size: 70px;
  margin: 0 0 30px;
  text-transform: uppercase;
  transform: translateY(-100px);
}
#hero #hero-heading-container img {
  animation: fade-in 0.95s 0.85s forwards;
  opacity: 0;
}

#navbar ul {
  margin: 0;
  padding: 20px 0;
  text-align: right;
}
#navbar ul li {
  cursor: pointer;
  display: inline;
  list-style: none;
  padding: 0 20px;
}
#navbar ul li button {
  cursor: pointer;
}
#navbar ul li#burger {
  display: none;
}

#contact-button {
  border: 0;
  border-radius: 30px;
  background-color: #fff;
  color: #000;
  font-weight: 700;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: all 0.25s;
}

#contact-button:hover {
  background-color: #63cbff;
  color: #fff;
}

#logo {
  float: left;
  padding: 0;
}

.brand-mission-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.brand-mission {
  box-sizing: border-box;
  padding: 100px 200px;
  text-align: left;
  width: 50%;
}

h1, h2, h3, .brand-mission > span, .testimonial .employee-name {
  font-family: "Fraunces", serif;
}

.brand-mission h2 {
  color: #23303e;
  font-size: 40px;
  font-weight: 900;
  width: 350px;
}
.brand-mission p {
  color: #818498;
  font-weight: 300;
  line-height: 30px;
}
.brand-mission span {
  color: #23303e;
  cursor: pointer;
  font-weight: 500;
  text-transform: uppercase;
}

.brand-mission-container .mission-img {
  width: 50%;
}
.brand-mission-container .mission-background {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: -1;
}
.brand-mission-container .img-container {
  height: 600px;
  background-size: 100% 100%;
  position: relative;
  width: 50%;
}
.brand-mission-container .img-container div {
  left: 50%;
  top: 65%;
  position: absolute;
  transform: translateX(-50%);
  width: 45%;
}

#graphic-design div > * {
  color: #25564b;
}

#photography div > * {
  color: #19536b;
}

div#graphic-design {
  background-image: url("../images/sunnyside-landing/desktop/image-graphic-design.jpg");
}

div#photography {
  background-image: url("../images/sunnyside-landing/desktop/image-photography.jpg");
}

#testimonials-section {
  padding: 130px 0;
}

#testimonials-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  width: 80%;
}

.testimonial {
  box-sizing: border-box;
  padding: 40px 45px 100px;
  position: relative;
  width: 33%;
}
.testimonial > div {
  bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.testimonial .employee-name {
  color: #23303e;
  margin-bottom: 10px;
}
.testimonial .employee-position {
  color: #a7abae;
}

#testimonials-section > h3 {
  color: #a7abae;
  letter-spacing: 5px;
  text-transform: uppercase;
}

#testimonials-container div.testimonial > img {
  border: 0;
  border-radius: 100%;
  width: 80px;
}
#testimonials-container div.testimonial > p {
  color: #5a636c;
}

#gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}
#gallery img {
  width: 25%;
}

footer {
  background-color: #8ccfc1;
  color: #458c7e;
  padding: 40px 0;
}
footer ul li {
  cursor: pointer;
  display: inline;
  transition: color 0.25s;
}
footer ul li:hover {
  color: #fff;
}
footer ul#links {
  margin: 0;
  margin-top: 40px;
  padding: 0;
}
footer ul#links li {
  margin: 0 20px;
}
footer ul#socials {
  margin: 0;
  padding: 0;
  margin-top: 80px;
}
footer ul#socials li {
  margin: 0px 10px;
}
footer ul#socials li img {
  transition: all 0.2s;
}
footer ul#socials li img:hover {
  filter: brightness(0) invert(1);
}
footer > img {
  filter: invert(27%) sepia(9%) saturate(2553%) hue-rotate(116deg) brightness(53%) contrast(86%);
}

@media only screen and (max-width: 420px) {
  #hero {
    background-image: url("./../images/sunnyside-landing/mobile/image-header.jpg");
    color: #fff;
    height: 70vh;
    background-size: cover;
    background-position: center;
  }
  #hero #hero-heading-container {
    margin-top: 115px;
  }
  #hero #hero-heading-container #hero-heading {
    font-size: 40px;
    letter-spacing: 7.5px;
    margin: 0 0 40px;
  }
  #hero #navbar ul li:not(#logo) {
    display: none;
  }
  #hero #navbar ul li#burger {
    display: inline;
    transition: all 0.25;
  }
  #hero #mobile-menu {
    background-color: #fff;
    color: #818498;
    left: 50%;
    top: 12%;
    transform: translateX(-50%);
    padding: 30px 0 20px;
    position: absolute;
    width: 85%;
    z-index: 2;
  }
  #hero #mobile-menu ul {
    margin: 0;
    padding: 0;
  }
  #hero #mobile-menu ul li {
    font-size: 20px;
    list-style: none;
    padding: 20px 0;
  }
  #hero #mobile-menu ul li #mobile-contact-button {
    background-color: #fad400;
    border: 0;
    border-radius: 45px;
    color: #23303e;
    font-family: "Fraunces", serif;
    font-size: 18px;
    padding: 15px 30px;
    text-transform: uppercase;
  }

  .brand-mission-container {
    flex-direction: column;
  }
  .brand-mission-container .mission-img {
    height: 300px;
    order: 1;
    width: auto;
  }
  .brand-mission-container .brand-mission {
    order: 2;
    padding: 50px;
    text-align: center;
    width: auto;
  }
  .brand-mission-container .brand-mission h2 {
    font-size: 30px;
    width: auto;
  }
  .brand-mission-container .brand-mission p {
    font-size: 15px;
  }
  .brand-mission-container div#graphic-design {
    background-image: url("../images/sunnyside-landing/mobile/image-graphic-design.jpg");
  }
  .brand-mission-container div#photography {
    background-image: url("../images/sunnyside-landing/mobile/image-photography.jpg");
  }
  .brand-mission-container .img-container {
    width: auto;
  }
  .brand-mission-container .img-container div {
    width: 90%;
  }

  #testimonials-section {
    padding: 60px 0;
  }
  #testimonials-section #testimonials-container {
    flex-direction: column;
  }
  #testimonials-section #testimonials-container .testimonial {
    width: auto;
  }

  #gallery {
    flex-wrap: wrap;
  }
  #gallery img {
    width: 50%;
  }
}
@keyframes drop-down {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-down {
  from {
    opacity: 0;
    transform: translateY(-60%) translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(-50%) translateX(-50%);
  }
}

/*# sourceMappingURL=main.css.map */
