body {
	background-color:#fafafa;
	font-family: trebuchet ms
}

.nav {
	background-color: #333;
	list-style: none;
	text-align: right;
	padding: 10px 20px 10x 10px;
	height: 40px;
	margin: 0 auto;
	font-size: 17px;
	top: 20px;
	position: relative;
}

.nav > li {
	display: inline-block;
	padding: 10px;
}

.nav > li > a{
	text-decoration: none;
	color: #ffffff;
	text-transformation: uppercase;
	display: block;
	padding:0 25px;
	font-size: 14px;
	line-height: 20px;
	z-index: 1;
}

.nav > li a:hover {
	color: #c1c1c1;
}

.current{
	background-color: tomato;
}

.navWS{
	background-color: #fafafa;
	list-style: none;
	text-align: left;
	padding: 20px 0 20x 0;
	height: 40px;
	margin-top: 80px;
	font-size: 18px;
	margin-left: 110px;
}

.navWS > li {
	display: inline-block;
	padding-right: 10px;
}

.navWS > li > a{
	text-decoration: underline;
	color: #000;
}

.navWS > li a:hover {
	color: tomato;
}

.head {
	text-align: center;
	margin-top: 50px;
	font-size: 30px;
	font-family: georgia;
	position: relative;
}

.paragraphIX{
	width: 500px;
    border: 0px ;
    padding: 25px;
    margin: 25px;
	margin-left: 500px;
	font-size: 17px;
	position: relative;
}

.profilePic {
	float: left; 
	padding-left: 25px; 
	padding-right: 50px;
	top: 20px;
	height: 200px;
	width: 200px;
	position: relative;
}

.facts {
	float: left; 
	padding-left: 25px; 
	padding-right: 50px;
	top: 20px;
	height: 370px;
	width: 200px;
	position: relative;
}

.imgCP {
	padding: 50px;
	top: 20px;
	height: 200px;
	width: 200px;
	float: left; 
	position: relative;
	margin-left: 160px;
}
.pAB{
	width: 850px;
    border: 0px ;
    padding: 25px;
    margin: 25px;
	margin-left: 200px;
	font-size: 17px;
	position: relative;
}

p{
	color: #000;
}

#links {
    list-style-type:none;
	width: 150px;
	display: inline-block;
    border: 2px solid #333;
    padding: 25px;
    margin: 25px;
	text-align: center;
	height: 200px;
	float: right;
	margin-top: 0px;
	margin-right: 100px;
	position: relative;
}

#hCP{
    padding: 5px;
    margin: 5px;
	font-size: 35px;
	margin-left: 100px;
	position: relative;
	margin-top: 50px;
}

#paCP{
	width: 400px;
    padding: 5px;
    margin: 5px;
	font-size: 17.5px;
	margin-left: 100px;
	position: relative;
}

.pCP{
	position:relative;
    width:300px;
    height:0px;
    bottom:0px;
    right:25%;
    left:50%;
    margin-left:-150px;
}

.pWS{
	margin-left: 150px;
	position: relative;
}

h1{
	margin-left: 150px;
	font-family: georgia;
	margin-top: 50px;	
}

.worksCO{
	background-color: #fafafa;
	border: 2.5px solid #333; 
	margin: 10px;
	padding: 10px;
	display: block;
	width: 20%;
	text-align: center;
	margin-left: 150px;
	position: relative;
	float: left; 
}

.imgWK{
	width: 150px;
    height: 150px;
	text-align: center;
	position: relative;
}

.imgIX{
	width: 300px;
    height: 270px;
	float: left;
	margin-left: 100px;
	position: relative;
}
.contactsCO{
	background-color: #fafafa;
	text-align: center;
	margin: 10px;
	padding: 10px;
	display: block;
	position: relative;
	margin-left: 30px;
	width: 20%;
	float: left; 
}

.contact{
	margin-left: auto;
	margin-right: auto;
	display:block;
	width: 500px;
	height: 130px;
	position: relative;
	margin-top: 400px;
}

video{
	height: 300px;
	width: 500px;
	margin-left: 525px;
}

.resume{
	height: 600px;
	width: 400px;
	margin-left:auto;
	margin-right:auto;
	display: block;
	padding: 20px;
	position: relative;
}

.logo{
	position: absolute;
	left: 5px;
	height: 45px;
	width: 45px;
	bottom: -1px;
}

a{
	text-decoration: none;
	color: tomato;
}
