.App-body {
  text-align: center;
  border: 1px solid lightgrey;
  width: 40%;
  font-size: 20px;
  margin: 50px auto;
  border-radius: 5px;
  font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
  padding-bottom: 40px;
}

.input-container, .input-container:focus{
  border: 0px;
  outline: 0px;
  font-size: 20px;
  padding-left: 10px;
  width: 80%;
}

.add-button{
  background-color: #28a745;
}

.button{
  border: 0px;
  padding: 0px 18.5px;
  height: 100%;
  border-radius: 0px 2.5px 2.5px 0px;
  position: absolute;
  right: 0;
  top: 0;
}

.button:hover{
  cursor: pointer;
}

.icon{
  color: #fff;
  font-size: 30px;
}


.container{
  border: 0.5px solid lightgrey;
  margin: 5px auto;
  border-radius: 2.5px;
  text-align: left;
  padding: 20px 0px 20px 0px;
  font-size: 20px;
  position: relative;
}
