.category-container{
    display: inline-block;
    margin: 15px;
    width: 116px; /* fix this */
}

.category-container:hover{
    cursor: pointer;
}
.category-background{
    border-radius: 100%;
    background-color: rgb(233, 245, 252);
    padding: 20px;
}